* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
       /*Box sizing - es importante para cuando le demos border o padding a un elemento sea dentro del mismo
       modelo de caja y no se salga  */
}

body{
      font-family: Calibri;
}

header{
      width: 100%;
      height: 50px;
      background: #2C3E50;
      color: white;
      /* position fixed hace que sel header se quede pegado en la pagina al bajar */
      position: fixed;
      top: 0;
      left: 0;
      /* z-index 100 para que este siempre por delante de los demas elementos */
      z-index: 100;
}

.contenedor{
      width: 98%;
      margin: auto;
}

h1{
      float: left;
      padding-top: 4px;
}

header .contenedor{
      display: table;
}

section{
      width: 100%;
      margin-bottom: 25px;
}

/* ------------------- MENU -------------------- */
#menu-bar{
      display: none;
}

header label{
      float: right;
      font-size: 19px;
      margin: 13px 0;
      /* cursor: pointer hacer aparece una manito al estar posicionado en el icono de menu */
      cursor: pointer;
}

.menu{
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      /* height 100vh es para que me ocupe siempre el 100% de la ventana */
      height: 100vh;
      background: rgba(44, 62, 80,0.7);
      transition: all 0.5s;
      transform: translateX(-100%);
}

.menu a{
      text-align: center;
      display: block;
      color: white;
      height: 50px;
      text-decoration: none;
      padding: 15px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover{
      background: rgba(153, 165, 178,0.8);
}

/* volvemos a la posicion original el menu cuando el input sea checked */
#menu-bar:checked ~ .menu{
      transform: translateX(0%);
}


/* -------------- BANNER --------------- */
#banner{
      margin-top: 50px;
      position: relative;
}

#banner img{
      width: 100%;
      height: 100%;
}

#banner .contenedor{
      position: absolute;
      bottom: 13%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: white;
      text-align: center;
}

#banner h2{
      font-size: 25px;
}

#bienvenidos{
      text-align: center;
}

section .contenedor{
      display: block;
}

#blog img{
      width: 300px;
      height: 180px;
}
#blog h3{
      text-align: center;
}

#blog .contenedor{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;  /* wrap para que los elementos que no caben bajen uno debajo del otro*/
}

#blog article{
      margin: 15px;
}

#info{
      background: #2C3E50;
      color: white;
      text-align: center;
      padding: 20px;
}

#info .contenedor{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.info-avion{
      margin: 20px;
}

.info-avion img{
      width: 180px;
      height: 180px;
      border-bottom: 50%;
      border: 7px double rgb(163, 163, 163);
}

/* ---------------- Responsive para Tablets ------------- */
@media (min-width:768px){
      #banner {
            height: 450px;
            overflow: hidden;
      }

      #banner img{
            height: auto;
            margin-top: -100px;
      }
}

/* -------------- Responsive para escritorio con un mínimo de 1024 --------------- */
@media (min-width:1024px){
      .menu{
            position: static;
            width: auto;
            height: auto;
            transform: translateX(0%);
            float: right;
            display: flex;
      }

      .menu a{
            border: none;
      }

      /* Escondemos el boton icon-menu al estar en modo escritorio */
      header label{
            display: none;
      }

      .contenedor{
            width: 1000px;
      }
      
      #banner img{
            margin-top: -200px;
      }

      #bienvenidos{
            width: 1000px;
            margin: auto;
      }

      #bienvenidos h2{
            font-size: 30px;
      }

      #bienvenidos p{
            font-size: 20px;
      }

      #blog{
            margin-top: 30px;
      }

      #info > h2, p{
            width: 1000px;
            margin: auto;
      }

      #info h2{
            font-size: 30px;
      }

      #info p{
            padding-top: 15px;
            font-size: 20px;
      }
}

@media (min-width:480px){
      #banner h2{
            font-size: 40px;
      }
}